@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my Marimba Page</h1>
    <p>Learn about <a>the Marimba</a>.</p>
    <picture href="~/MarimbaWGI"></picture>
</div>
